# Ignore non-source code
btree_delete*
btree_display*
btree_init*
btree_insert*
btree_lookup*
btree_sane*
btree_show*
btree_update*
deletedisk*
freebuffer*
infodisk*
makedisk*
mydisk.data*
readbuffer*
readdisk*
sim*
writebuffer*
writedisk*
__test*
TEST*


# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
